RewriteEngine On

# Nếu file hoặc thư mục vật lý tồn tại thì không rewrite
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Chuyển mọi request còn lại vào index.php
RewriteRule ^ index.php [QSA,L]
